*{
    margin: 0;
    padding: 0;
}
#lista-filmes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}
#mostrar-filme{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-img-top{
    height: 19rem;
}
.card-title{
    width: auto;
}
.card{
    width: 14rem;
    border: solid 0.5px;
    margin: 0.5rem;
}
.card-body{
    width: 14rem;
    justify-content: space-between;
}
.divDetalhes{
    font-size: small;
}
.carddet{
    width: 60%;
    margin-top: 3rem;
}
.divdet{
    display: flex;
}
.divimg{
    height: 22rem;
    margin-top: 1.2rem;
    display: flex;
}
.divgeral{
    width: 100%;
}